.cta {
    position: relative;
    // margin: 50px 0;
}
.cta-image{
    min-height: 330px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}
.cta-content {
    position: absolute;
    z-index: 10; 
    color: $white;
}
.ready-cta__content{
    max-width: 418px;
    width: 100%;
    right: 190px;
    top: 80px;
    bottom: 80px;
    @media(max-width: 1200px){
        right: 80px;
        top: 60px;
    }
    @media(max-width: 768px){
        right: 0;
        top: 60px;
    }
    @media(max-width: 768px){
     display: flex;
     flex-direction: column;
     text-align: center;
    }
}
.ready-content__text{
    margin: 32px 0px;
    @media(max-width: 1200px){
        margin: 25px 0;
    }
    @media(max-width: 992px){
        margin: 20px 0;
    }
    @media(max-width: 768px){
        margin: 15px 0;
    }
}

.cta-content__title, .cta-content__text{
    color: $white;
}

.cta-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    @media(max-width: 768px){
       justify-content: center;
    }
}
.cta-button {
    img{
        border-radius: 5px;
        @media(max-width: 768px){
            max-width: 140px;
            width: 100%;
        }
    }
}

//styles are for the CTA on the cars page.

.book-content{
    max-width: 841px;
    width: 100%;
    position: absolute;
    right: 100px;
    top: 56px;
    z-index: 10;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    @media(max-width: 992px){
        max-width: 641px;
        right: 25px;
    }
    @media(max-width: 768px){
        max-width: 455px;
        right: 10px;
        top: 70px;
    }
    @media(max-width: 480px){
        width: 100%;
    }
}
.book-content__subtitle,.book-content__title{
    color: $white;
    margin-bottom: 44px;
    @media(max-width: 1200px){
        margin-bottom: 20px;
    }
    @media(max-width: 768px){
        margin-bottom: 15px;
    }
}
.book-content__title{
    text-align: right;
}

