.partners {
    padding: 25px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(149deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.partners-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; /* Adds space between items */
}

.partners-logo {
    max-width: 140px;
    flex-grow: 1;
}

.partners-logo img {
    max-width: 100%;
    height: auto;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .partners-logo {
        max-width: 120px;
    }

    .partners-logos {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .partners-logos {
        justify-content: center;
        gap: 15px;
    }

    .partners-logo {
        max-width: 100px;
    }
}

@media (max-width: 576px) {
    .partners-logos {
        flex-direction: column;
        align-items: center;
    }

    .partners-logo {
        max-width: 130px;
        margin-bottom: 10px;
    }
}
