.main-screen{
    background-image: url('../images/main-images/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.main {
    position: relative;
    padding-top: 75px;
}
.main-wrapper{
    padding-bottom: 90px;
}
.main-wrapper{
    display: flex;
    justify-content: space-between;
    @media(max-width: 992px){
        flex-direction: column;
        gap: 300px;
    }
}

.main-left {
    max-width: 414px;
    width: 100%;
    @media(max-width: 992px){
        max-width: 100%;
    }
}

.main-left__text {
    max-width: 320px;
    width: 100%;
    margin: 56px 0;
    opacity: 0.6;
    @media(max-width: 992px){
        max-width: 100%;
        margin: 30px 0;
    }
}

.main-icons {
    margin-top: 104px;
    display: flex;
    align-items: center;
    gap: 16px;
    @media(max-width: 992px){
        margin-top: 50px;
    }
}
.main-car {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 0;

}

.main-car__img {
    max-width: 685px;
    height: auto;
    @media(max-width: 1350px){
        max-width: 610px;
    }
    @media(max-width: 1200px){
        max-width: 500px;
    }
  
    @media(max-width: 768px){
        max-width: 335px;
        margin-top: -60px;
    }
}
// Main right
.main-right {
    max-width: 205px;
    width: 100%;
    @media(max-width: 992px){
        max-width: 100%;
    }
}
.main-right__service{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
.main-persons {
    padding-top: 74px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    @media(max-width: 992px){
        padding-top: 60px;
    }
    @media(max-width: 768px){
        padding-top: 40px;
    }
}

.main-person {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    @media(max-width: 768px){
        width: 45px;
        height: 45px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.main-person:nth-child(1) {
    position: relative;
    z-index: 1;
    margin-right: -12px;
}

.main-person:nth-child(2) {
    position: relative;
    z-index: 2;
}

.main-person:nth-child(3) {
    position: relative;
    z-index: 1;
    margin-left: -12px;
}
.main-info{
    margin-top: 32px;
    margin-bottom: 160px;
    @media(max-width: 992px){
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.main-info__title{
    margin-bottom: 16px;
    text-align: left;
}
.main-info__text{
    font-family: "Syne", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $black;
}

.main-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 26px;
    border: 2px solid $red;
    border-radius: 25px;
    text-decoration: none;
    color: $red;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover{
        transition: 0.3s all;
        background-color: $red;
        color: $white;
    }
}
.main-more__link{
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.more-link{
    margin-right: 32px;
    font-family: "Syne", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $black;
}
// main logos



// main section styles
.main-content {
    padding: 56px 0;
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
    @media(max-width: 768px){
        padding: 40px 0;
    }
}
.main-breadcrumb {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
    @media(max-width: 768px){
        margin-bottom: 15px;
    }
}
.main-breadcrumb li + li::before {
    content: "/";
    color: $black;
}

.main-breadcrumb__list {
    display: flex;
}

.main-breadcrumb__link {
    font-family: "Syne", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: $black;
    @media(max-width: 768px){
        font-size: 17px;
    }
}

.single-car__breadcrumb li::after {
    content: '/'; 
    margin: 0 8px; 
    color: $white; 
    @media(max-width: 768px){
        margin: 0 6px;
    }
}
.car-breadcrumb__link{
    color: $white;
}
.car-details__title{
    color: $white;
}

.main-content__title {
    text-align: center;
}

.hero-image {
    max-width: 100%;
    img{
        width: 100%;
        min-height: 300px;
        object-position: center center;
        object-fit: cover;
        image-rendering: auto;
    }
}

.contact-image__bg{
    max-height: 400px;
    height: 100%;
    object-position: center top;
    object-fit: cover;
}


.single-car__bg{
    background-image: url('../images/single-car-main.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.single-main{
    padding: 60px 0;
    color: $white;
}
.single-car__breadcrumb{
    justify-content: left;
}