.rental {
    padding: 100px 0;
}
.pick-car {
    display: flex;
    align-items: center;
    margin-bottom: 213px;
    position: relative;
}
.rental-arrow {
    border-radius: 50%;
    display: flex;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: $red;
}
.rental-wrapper{
    position: relative;
}

.rental-content {
    max-width: 444px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.rental-item {
    padding: 80px 40px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
}
.rental-item__subtitle {
    margin-bottom: 16px;
    text-align: left;
}
.rental-item__title {
    margin-bottom: 48px;
    @media(max-width: 768px){
        margin-bottom: 20px;
    }
}
.rental-item__text {
    font-family: "Syne", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $black;
    opacity: 0.6;
}

@media (max-width: 1200px){
    .rental-image{
        max-width: 730px;
        img{
            width: 100%;
        }
    }
    .rental-item{
        padding: 40px;
    }
    .rental-item__title{
        margin-bottom: 30px;
    }
}
@media (max-width: 992px) {
    .rental {
        padding: 65px 0;
    }

    .rental-wrapper {
        display: flex;
        flex-direction: column;
        // text-align: center;
    }

    .pick-car {
        margin-bottom: 20px;
    }
    .rental-arrow {
        width: 40px;
        height: 40px;
    }

    .rental-content {
        order: 1; 
        position: static;
        max-width: 100%;
        // padding: 20px;
        // text-align: center;
    }

    .rental-item {
        padding: 20px;
    }

    .rental-image {
        order: 2; 
        margin-top: 20px;
        max-width: 100%;
        text-align: center;
    }

    .rental-image img {
        width: 100%;
        height: auto;
    }
}
