.section-title{
    font-family: "Syne", sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: $black;
    @media(max-width:992px){
        font-size: 42px;
    }
    @media(max-width:768px){
        font-size: 34px;
    }
    &--md{
        font-family: "Syne", sans-serif;
        font-weight: 500;
        font-size: 48px;
        color: $black;
        @media(max-width:1200px){
            font-size: 42px;
        }
        @media(max-width:992px){
            font-size: 32px;
        }
        @media(max-width:768px){
            font-size: 26px;
        }
    }
    &--sm{
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        // text-align: center;
        color: $black;
        @media(max-width:768px){
            font-size: 17px;
        }
    }
}
.column-title{
    font-weight: 700;
    font-size: 24px;
    color: $black;
    // opacity: 0.6;
    @media(max-width: 992px){
        font-size: 20px;
    }
    @media(max-width: 768px){
        font-size: 20px;
    }
}
.section-text{
    font-family: "Syne", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: $black;
    opacity: 0.6;
    @media(max-width:768px){
        font-size: 16px;
    }
    &--sm{
        font-family: "Syne", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        color: $black;
    }
}